.x-panel-body{
    background-color: #e3e8ef;
}
.refresh-button
{
left: 95.5%;
}
.note-for-refresh tbody tr td:first-of-type label
{
	width: 30px !important;
	font-weight: bold;
    	text-decoration: underline;
	margin-right: 0px !important;
}
.note-for-refresh tbody tr td:last-of-type
{
	width: auto;
}
.note-for-refresh tbody tr td:first-of-type
{
	width: 35px !important;
}